.bg-login {
	background: url("../images/login-background.png");
	background-position: center center;
	background-size: cover;
}

input[type="checkbox"] {
	display: none;
}

input[type="checkbox"] + label {
	-webkit-transition: all 500ms ease;
	transition: all 500ms ease;
	font-size: 11px;
	cursor: pointer;
	border-radius: 50px;
	background-color: #fff;
	border: solid 2px #7d7d7d;
	padding: 0.5rem 1rem;
	display: inline-block;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	user-select: none;
	-ms-user-select: none;
}

input[type="checkbox"]:checked + label {
	-webkit-transition: all 500ms ease;
	transition: all 500ms ease;
	background-color: #fc6c27;
	color: white;
	border-color: #fc6c27;
}
